.header{
    height: 30px;
    width: 100%;
    background-color: purple;
    color: aliceblue;
}

ul{
    list-style-type: none;

}
p{
    font-size: 20px;
    text-align: center;
    font-weight: 60px;
}
li{
    float: right;
    margin-top: -35px;
    padding: 15px;
    font-size: 15px;
}
.a{
    margin-right: 500px;
}
.box{
    height: 20px;
    width: 100%;
    background-color: aqua;
    margin-top: -20px;
}